.appHeader
  background: hsla(5,5,5,0.55)
  text-align: center
  padding: 0
  margin: 0
  font-family: 'Open Sans'
.hero
  align-items: flex-end
  justify-content: center
  flex-direction: column
  text-align: right
  color: #fefefe
  display: flex
  max-height: 300px
  background: #282c34 url('../images/bg.svg') no-repeat center fixed
  background-size: cover
  padding: 5em 0.75em 0.75em
.appTitles
  opacity: 0.82
  width: 20em
  margin-bottom: 0.75em
  display: flex
  flex-direction: column
  align-items: flex-end
.subTitle
  width: 75%
  line-height: 1.25em
  margin-bottom: 0.75em
.mainTitle
  font-family: 'Open Sans'
  font-weight: 600
  font-size: calc(25px + 2vmin)
  display: flex
  justify-content: flex-end
  align-items: center
  margin-bottom: 0.5em
  svg
    margin-right: 0.33em
    color: greenyellow
    opacity: 0.5
.btnContactMe
  background: transparent
  color: #fefefe
  font-weight: 600
  border: none
  outline: solid 0.1em #fefefe
  transition: all ease-in 1s
  &:hover
    color: black
    transition: all ease-in 0.1s
    background: hsla(255, 255, 255, 0.82)
    outline: solid 0.1em hsla(255, 255, 255, 0.82)
    border-radius: 0
.downArrow
  position: fixed
  right: 2em
  bottom: 1em
  text-align: center
  opacity: 0.82
  filter: brightness(84%)
  transition: filter ease-in 0.5s
  color: #fefefe
  font-size: 2em
  &:hover
    filter: brightness(50%)
    transition: filter ease-in 0.1s