h1
    margin: 1em 0
.blogPost
    border: 0.1px solid darkgray
    background: hsla(10, 10, 10, 0.04)
    padding: 0
    margin: 5em 0
    display: block
    h1
        margin-bottom: 0.25em
    h4
        margin-right: 1.5em
        display: inline-block
    div:first-child
        height: 500px
    .postWrapper
        margin: 3em
.blogPostContent
    //background: hsla(10, 10, 10, 0.2)
    background: #fefefe
    padding: 3em 1.5em
.blogPage
    //background: blue
    .appLogo
        &:after
            content: ' Blog'
    //background: #fefefe
    outline: 5px red solid
    main
        min-height: 75vh
        display: flex
        justify-content: center
        align-items: flex-start
        padding-top: 2em
        font-size: 2.25em
        background: hsla(0,0,0,0.15)