.appEducation
    width: 100%
    font-size: 1.25em
    text-align: center
    background: hsla(90, 90, 90, 0.6)
    font-family: 'Open Sans'
    display: flex
    min-height: 100vh
    flex-direction: column
    justify-content: center
    align-content: center
    margin-top: 4em
    padding: 4em
    @media (max-width: 400px)
        font-size: 1em
        padding: 4em 0.25em
    .headerWrapper
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        padding: 2em 2em
        margin-bottom: 2em
        h2
            font-family: 'Open Sans'
            margin: 0
            font-weight: 600
            font-size: 2.5em
            @media (max-width: 768px)
                font-size: 1.25em
            @media (max-width: 400px)
                font-size: 1.75em
        .educationIcon
            font-size: 2.5em
            display: inline-block
            @media (max-width: 400px)
                font-size: 1.75em
    span:nth-child(1)
        display: inline
        &::after
            content: ' - '
    span:nth-child(2)
        display: inline
    span
        display: block
    .area
        margin-right: 0.25em
    .studyType, .area
        display: block
        font-size: 1em
        font-weight: 600
        margin-bottom: 0.5em
        @media (max-width: 400px)
            margin: 0
    .area::after
        content: ', '
    .education
        width: 100%
        margin: 0 auto 5em auto
        padding: 2em
        outline: solid 1px lightgray
        box-shadow: 3px 3px 3px hsla(5,5,5,0.3)
        @media (max-width: 400px)
            font-size: 0.85em
            max-width: 100%
            padding: 2.5em 0.5em
        .dates
            span
                display: inline
                font-style: italic
                font-size: 1em
        .institution
            font-size: 1em
            font-weight: 400
            display: block
            margin: 0.25em auto 1em
        ul
            margin-top: 1em
            max-width: 100%
            padding: 0
            li.course
                text-align: center
                font-size: 0.75em
                line-height: 1em
                font-weight: 300
            &:before
                display: block
                content: 'Relevant classes:'
                font-size: 0.85em
                margin-bottom: 0.5em