.appExperience
    background: lightgray
    font-size: 1em
    //background: hsla(180, 180, 180, 0.2)
    min-height: 100vh
    width: 100%
    padding: 2em 0 8em
    //display: flex
    align-items: center
    justify-content: center
    text-align: center
    h2
        margin: 2.5em auto
        font-weight: 600
    span:first-child
        display: inline
        &::after
            content: ' - '
    span
        display: block
    .position
        font-weight: 600
        font-size: 1.25em
    .company
        font-size: 1em
        margin-bottom: 1em
    .summary
        width: 75%
        margin: 0 auto
        text-align: left
    .work
        outline: 1px solid black
        width: 75%
        margin: 0 auto 1.5em
        padding: 1em
    .dates 
        span
            display: inline
            font-style: italic
            font-size: 0.82em
    .experienceIcon
        font-size: 2.5em
        position: absolute
        right: 1.5em