.appExperience
    font-size: 1.25em
    background: hsla(180, 180, 180, 0.2)
    font-family: 'Open Sans'
    min-height: 100vh
    width: 100%
    padding: 2em 0 5em 0
    align-items: center
    justify-content: center
    text-align: center
    .headerWrapper
        h2
            margin: 2em 5em
            font-weight: 600
            font-size: 2.5em
            display: inline-block
        .experienceIcon
            display: inline-block
            font-size: 2.5em
    .work
        max-width: 900px
        margin: 2.5em auto
        padding: 5em 5em
        outline: solid 1px lightgray
        //filter: drop-shadow(3px 3px 3px hsla(5,5,5,0.3))
        box-shadow: 3px 3px 3px hsla(5,5,5,0.3)
        span:first-child
            display: inline
            &::after
                content: ' - '
        span
            display: block
        .position
            display: inline-block
            font-size: 1em
            font-weight: 600
            margin: 0.5em 0
        .company
            display: block
            font-size: 1em
            font-weight: 600
            margin-bottom: 1em
            a, a:active
                color: black
                &:hover
                    color: lightgray
        .summary
            margin: 0 auto
            text-align: left
            font-weight: 300
        .dates 
            span
                display: inline
                font-style: italic
                font-size: 1em