.aboutMe
    text-align: center
    padding: 0 5em
    p
        max-width: 390px
        margin: 1.5em auto
        padding: 1.5em
        border-radius: 0.5em
    .meImage
        margin-bottom: 2em
