.aboutMe
    text-align: center
    padding: 0 5em
    p
        max-width: 390px
        margin: 1.5em auto
        padding: 1.5em
        border-radius: 0.5em
        background: rgba(#1F6D45, 0.4)
    .meImage
        margin-bottom: 2em

.latestBlogPosts
    margin: 10em auto
    text-align: center
    padding: 1em
    h3
        margin-bottom: 1.5em
        font-size: 2.5em
    .blogPost
        width: 60%
        margin: 0 auto
    h4
        margin-bottom: 0.25em
        text-align: center
        font-size: 1.25em
    a, a:visited, a:active
        text-decoration: none
        color: currentColor
        h4
            text-decoration: underline
        p
            text-decoration: none
            margin-bottom: 1.5em
        &:hover
            color: darkgray
