.navBar
    font-size: 0.7em
    background: transparent
    color: white
    position: fixed
    min-height: 10vh
    width: 100%
    padding: 0.25em
    transition: all ease-in-out 0.5s
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    .navBarLogoWrap
        padding: 1em
        margin: 0
        display: flex
        align-items: center
        justify-content: flex-start
        text-align: left
        svg
            display: none
            color: #fefefe
            font-size: 2.5em
        a
            display: flex
            flex-flow: row nowrap
            align-items: center
            width: 100%
            text-align: left
            &:active, &:visited, &:focus
                outline: 0
            div
                display: inline-table !important
            h1
                width: 100%
                white-space: nowrap
                float: left
                margin: 0 0 0 0.5em
                font-family: 'Rochester', cursive
                font-weight: 500
                font-size: 36px
                color: #fefefe
                transition: text-shadow ease-out 1s
                &:hover
                    text-shadow: 0.1em 0.1em 0.1em hsla(255,255,255,0.42)
                    transition: text-shadow ease-in 0.2s
    .menuList
        margin: 0
        padding: 0.25em
        display: flex
        align-items: center
        justify-content: flex-end
        font-size: 1.5em
        flex: 9
        li
            display: inline
            margin: 0 1em
            a, a:visited, a:active
                text-decoration: none
                color: #fefefe
                transition: all ease-in 0.2s
                outline: 0
                &:hover
                    color: hsla(255,255,255,0.42)
                    transition: all ease-in 0.2s
                    text-decoration: underline
            a:active
                background: red !important
.navBarMobile
    font-size: 0.7em
    background: transparent
    color: white
    position: fixed
    top: 0
    left: 0
    z-index: 99999
    width: 100%
    padding: 1em
    transition: all ease-in-out 0.5s
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    .navBarLogoWrap
        width: 100%
        padding: 1em
        margin: 0
        display: flex
        align-items: center
        justify-content: flex-start
        svg
            color: #fefefe
            font-size: 2.5em
            @media (hover: hover)
                &:hover
                    box-shadow: 0.15em 0.25em 0.5em 1px hsla(255,255,255,0.42)
                    transition: text-shadow ease-in 0.2s
        a
            width: 100%
            text-align: center
            &:active, &:visited, &:focus
                outline: 0
            h1
                width: 100%
                float: left
                margin: 0
                white-space: nowrap
                font-family: 'Rochester', cursive
                font-weight: 500
                font-size: 36px
                color: #fefefe
                transition: text-shadow ease-out 1s
                &:hover
                    text-shadow: 0.1em 0.1em 0.1em hsla(255,255,255,0.42)
                    transition: text-shadow ease-in 0.2s
    .menuList
        border: 0.1px solid black
        margin: 0.25em
        padding: 0.25em
        font-size: 1.5em
        width: 100%
        text-align: center
        background: hsla(5,5,5,1)
        b
            transition: display ease-in-out 0.5s
        li
            display: block
            background: hsla(5,5,5,0.62)
            border-radius: 0.5em
            margin: 0.5em 0
            padding: 0.75em
            a, a:visited
                text-decoration: none
                color: #fefefe
                transition: all ease-in 0.2s
                &:active, &:focus
                    outline: 0
                @media (hover: hover)
                    &:hover
                        color: hsla(255,255,255,0.42)
                        transition: all ease-in 0.2s
                        text-decoration: underline
                        outline: 0
        .socialLinks
            display: flex
            align-items: center
            justify-content: center
            margin: 0
            padding: 0
.docked
    background: hsla(0,0,0,0.82)
    z-index: 999
    transition: all ease-in-out 0.5s
    position: fixed
.hidden
    display: none
.githubLink
    display: flex
    padding: 1px
    flex-direction: row
    align-items: center
    p
        margin-left: 0.25em
.githubLogo
    font-size: 2.5em
    color: #fefefe
    transition: color ease-in 0.4s
    &:hover
        color: black
        background: #fefefe
        border-radius: 0.5em
        transition: background-color ease-in 0.4s
.activeLink
    text-decoration: underline !important