.appPortfolio
    font-family: 'Open Sans'
    font-size: 1.25em
    min-height: 100vh
    width: 100%
    z-index: 999999
    display: block
    background: rgba(97, 218, 251, 0.3)
    text-align: center
    padding: 2em 0.25em
    .headerWrapper
        display: flex
        align-items: center
        justify-content: space-around
        width: 100%
        h2
            margin: 2em 0
            font-weight: 600
            font-size: 2.5em
            //display: inline-block
            @media (max-width: 400px)
                font-size: 1.25em
                margin: 2em 2em
            @media (max-width: 768px)
                font-size: 1.25em
        .portfolioIcon
            font-size: 2.5em
            display: inline-block
            @media (max-width: 400px)
                font-size: 2em
    span
        display: block
        margin: 0.5em auto
    .publicationList
        display: flex
        flex-flow: row wrap
        width: 100%
        padding: 0.5em
        @media (max-width: 400px)
            display: block
        .publication
            display: inline-block
            padding: 2em
            margin: 1em
            width: 45%
            outline: solid 1px hsla(5,5,5,0.1)
            box-shadow: 3px 3px 3px hsla(5,5,5,0.1)
            background: rgba(97, 218, 251, 0.3)
            @media (max-width: 400px)
                display: block
                width: 100%
                margin: 2.5em 0
                padding: 0.5em
            @media (max-width: 768px)
                display: block
                width: 100%
                margin: 2.5em 0
                padding: 2.5em
            &:hover
                //outline: solid px hsla(5,5,5,0.1)
                box-shadow: 3px 3px 3px hsla(5,5,5,0.25)
                //filter: drop-shadow(3px 3px 3px hsla(5,5,5,0.3))
            .publisher
                font-size: 1em
            .name
                font-size: 1.5em
            .releaseDate
                font-style: italic
            .summary
                margin-top: 1em
            img
                width: 100%
                //height: 33vh
                margin-bottom: 1em
                @media (max-width: 768px)
                    width: 50%