.appSkills
    font-family: 'Open Sans'
    height: 100%
    background: lightgray
    font-size: 1.5em
    padding: 4em
    text-align: center
    @media (max-width: 800px)
        padding: 4em 0.25em
        margin: 1em 0
    @media (max-width: 400px)
        padding: 4em 0.25em
    h2
        margin: 0 0 2em
        font-weight: 600
        justify-self: center
        font-size: 2.5em
        @media (max-width: 400px)
            font-size: 1em
        @media (max-width: 768px)
            font-size: 1.25em
    .skill
        width: 25%
        display: inline-block
        margin: 2em 0
        @media (max-width: 800px)
            width: 33%
            margin: 1em 0
        @media (max-width: 400px)
            width: 100%
            margin: 1em 0
        svg
            display: block
            margin: 0 auto 0.5em auto
            color: rgb(40, 167, 69)
            height: 4em
            width: 4em