.appSkills
    font-family: 'Open Sans'
    min-height: 80vh
    background: #dee2e6
    font-size: 1.5em
    padding: 4em 4em 6em 4em
    text-align: center
    margin: 0 auto
    @media (max-width: 768px)
        padding: 4em 0.25em
    @media (max-width: 400px)
        padding: 4em 0.25em
    .headerWrapper
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        padding: 2em 2em
        margin-bottom: 2em
        @media (max-width: 400px)
            padding: 2em 0.5em
        h2
            font-family: 'Open Sans'
            margin: 0
            font-weight: 600
            font-size: 2.5em
            @media (max-width: 768px)
                font-size: 1.25em
            @media (max-width: 400px)
                font-size: 1.75em
        .skillsIcon
            font-size: 2.5em
            display: inline-block
            color: #023e8a
            @media (max-width: 400px)
                font-size: 1.75em
    .skill
        width: 25%
        display: inline-block
        margin: 2em 0
        @media (max-width: 800px)
            width: 33%
            margin: 1em 0
        @media (max-width: 400px)
            width: 50%
            margin: 1em 0
        svg
            display: block
            margin: 0 auto 0.5em auto
            color: #023e8a
            height: 4em
            width: 4em
.changeColor
    display: block
    margin: 0 auto 0.5em auto
    height: 4em
    width: 4em
    filter: brightness(0) saturate(100%) invert(16%) sepia(97%) saturate(1941%) hue-rotate(201deg) brightness(89%) contrast(104%)
.skillsImg
    display: block
    margin: 0 auto 0.5em auto
    height: 4em
    width: 4em